#menu {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #232324;
  color:rgb(209, 209, 209);
  font-family: monospace;
}

body {
  background-color: rgb(2, 2, 53);
}

.profile_pic_section {
    margin: 10px auto;
    width: clamp(400px, 40%, 60%);;
}

.profile_pic {
    width: 100%;
}

h1 {
    color:rgb(170, 169, 169);
    font-family: monospace;
}

p {
    color:rgb(209, 209, 209);
    font-family: monospace;
}