
@media (width <= 800px) {
    #menu {
        position: sticky;
        top: 0;
        overflow: hidden;
        padding: 15px 20px;
        background-color: #232324;
        color:rgb(209, 209, 209);
        font-family: monospace;
        font-size: 20px;
        text-decoration: none;
        }
    #menu a {
        padding-left: 20px;
    }
    #side_menu {
        display: none;
    }
}

@media (width > 800px) {
    #menu {
        display: none;
    }
    #side_menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        padding-top: 20px;
        overflow-x: hidden;
        z-index: 1;
        background-color: #232324;
        color:rgb(209, 209, 209);
        font-family: monospace;
        font-size: 20px;
        text-decoration: none;
    }

    #side_menu table {
        margin-left: 15px;
    }

    #main {
        margin-left: 150px;
    }
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 166, 83);
}

body {
  background-color: rgb(2, 2, 53);
}

.profile_pic_section {
    margin: 10px auto;
    width: clamp(400px, 40%, 60%);;
}

.profile_pic {
    width: 100%;
}

h1 {
    color:rgb(170, 169, 169);
    font-family: monospace;
    padding-top: 2vh;
    padding-left: 2vw;
}

h2 {
    color:rgb(170, 169, 169);
    font-family: monospace;
    padding-top: 2vh;
    padding-left: 2vw;
}

p {
    color:rgb(209, 209, 209);
    font-family: monospace;
}

.intro {
    padding-left: 2vw;
}

.skill {
    border-style: inset;
    border-color: rgb(50, 45, 82);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill p {
    text-align: center;
}

.projects_table {
    margin-left: 2vw;
}

.project {
    border-style: inset;
    border-color: rgb(50, 45, 82);
}

.project_img {
    width: 50vw;
    display: block;
    margin: auto;
}